.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
docker-compose.yml
docker-compose.*.yml
README.md
.editorconfig
.gitattributes
*.md
docker/
Dockerfile*
.idea
.vscode
*.log
